vars.yaml

inventory/credentials/*

inventory/*.ini
!inventory/*.example.ini

inventory/group_vars/all/all.yaml
inventory/group_vars/all/kubespray.yml

inventory/host_vars/**/*yaml*
!inventory/host_vars/host/*.example
