ZSH_THEME="minimal"
plugins=(
  ansible
  docker
  git
  golang
  helm
  kubectl
  minikube
  node
  npm
)
export DISABLE_AUTO_UPDATE=true
export EDITOR=nvim
export ZSH={{ item.home }}/.oh-my-zsh
source $ZSH/oh-my-zsh.sh
