global:
  reboot:
    min_wait_time: 15
    max_wait_time: 30

  version:

  bastion:
    user: ""
    host: ""
    duo:
      ikey: ""
      skey: ""
      host: ""

  collectd:
    host: ""
    port: "25826"

  docker:
    username: ""
    password: ""
    email: ""

  media:
    nfs:
      plex: ""
      plexlogs: ""
      movies: ""
      tvshows: ""

  nfs:
    host: ""

  plex:
    claim: ""

  sish:
    tag: ""
    sshPort: "8022"
    forwardingPorts:
      http: "80"
      https: "443"
      tcp: []
    domain: ""
    privateKeyPassphrase: ""

  spin_cli:
    gate:
      endpoint: https://spinnaker-api.domain
    auth:
      enabled: true
      oauth2:
        tokenUrl: https://auth.domain/auth
        authUrl: https://auth.domain/token
        clientId: ""
        clientSecret: ""
        scopes:
        - openid
        - email
        - profile
