reboot:
  min_wait_time: 15
  max_wait_time: 30

version:
  # https://www.arduino.cc/en/Main/Software
  arduino: "1.8.13"
  # https://golang.org/doc/install
  go: "1.15.1"
  # https://www.jetbrains.com/toolbox-app/download/download-thanks.html
  jetbrains: "1.18.7455"
  # https://github.com/istio/istio/tags
  istioctl: "1.7.0"
  # https://maven.apache.org/download.cgi
  mvn: "3.6.3"
  node: "14.10.1"
  # https://robomongo.org/download
  robo3t: 1.4.0-linux-x86_64-12e54cc
  # http://release.tinymediamanager.org/
  tmm: "3.1.8"

bastion:
  user: ""
  host: ""
  duo:
    ikey: ""
    skey: ""
    host: ""

guacamole:
  tag: "1.2.0"
  db:
    name: ""
    user: ""
    pass: ""
  openid:
    issuer: ""
    jwks_endpoint: ""
    auth_endpoint: ""
    client_id: guacamole
    scope: openid email profile
    redirect_uri: ""
    username_claim: preferred_username

influxdb:
  host: ""
  port: "25826"

ipa:
  host: ""
  port:
    ldap: "389"
    ldaps: "636"
  userDN: ""
  groupDN: ""
  user: ""
  groups:
    syncthing: ""

nfs:
  host: ""

postgresql:
  host: ""
  port: "5432"
  user: ""
  pass: ""
  nfs:
    user_id: ""
    path: ""

sish:
  tag: ""
  sshAddress: "8022"
  httpAddress: "80"
  httpsAddress: "443"
  domain: ""
  privateKeyPassphrase: ""

spacewalk:
  user: ""
  pass: ""
  admin_email: ""
  host: ""
  db:
    name: ""
    user: ""
    pass: ""
  nfs:
    host_path: ""
    client_path: /var/satellite

spin_cli:
  gate:
    endpoint: https://spinnaker-api.domain
  auth:
    enabled: true
    oauth2:
      tokenUrl: https://auth.domain/auth
      authUrl: https://auth.domain/token
      clientId: ""
      clientSecret: ""
      scopes:
      - openid
      - email
      - profile
